# Ignore all settings file/folders
/.*/
# Except .github/ and its contents
!/.github/
!/.github/**
/.github/prompts/

/**.md
!/README**.md
!/**LICENSE**.md

docs/blueprint.cpp

# Build directories
build/

# Output from unit tests
tests/test_data/output/
